{% assign event = site.data.events | where: "featured", true | first %} <!-- 'home' -->
{% if page.event %}
	{% assign event = site.data.events[page.event] %}
{% endif %}
{% assign about = event.about %}
{% if about %}
	<!-- rebelion.la: auxiliar element to handle the date in the countdown -->
	<div id="event-date" style="display:none">{{event.date | date: "%b %d, %Y"}}</div>
	<section id="about-section" class="about-section section theme-bg-light">
		<div class="container">
			<h3 class="section-heading text-center mb-3">About {{ event.shortname }}</h3>
			<div class="section-intro single-col-max mx-auto mb-4">{{ about.description | markdownify }}</div>
    {% if about.highlights %}
			<div class="benefits-list text-center mb-3">
				<h4 class="text-center mb-4">{{ about.highlights.heading }}</h4>
				<ul class="list-unstyled text-start d-inline-block">
        {% for item in about.highlights.highlights-list %}
					<li><i class="fas fa-check-circle me-2"></i>{{ item | markdownify | remove: "<p>" | remove: '</p>' }}</li>
        {% endfor %}
				</ul>
			</div><!--//benefits-list-->
    {% endif %}
			<div class="event-countdown text-center mb-3">		   
				<h4 class="countdown-intro mb-2 text-center mb-3">Event Starts In:</h4>
				<div id="countdown-box" class="countdown-box"></div>
			</div><!--//event-countdown-->
			<div class="about-cta text-center mb-5"><a class="btn btn-secondary btn-lg  mb-5" href="{{ about.cta.link }}" target="_blank">{{ about.cta.text }}</a></div>
		</div><!--//container-->

	{% if include.media-block %}
		<div class="media-block theme-bg-primary py-5">
			<div class="container">
				<h4 class="text-white text-center mb-3">Previously</h4>
				<div class="section-intro text-center single-col-max mx-auto text-white mb-5">Conference videos and images from previous years is a great way to show people what to expect at the conference and entice them to join. You can host more media content on YouTube, Flickr or Instagram and link out to them in this section.</div>
				<div class="row gx-5">
					<div class="col-12 col-md-6 mb-3">
						<div class="ratio ratio-16x9">
							
							<iframe src="https://www.youtube.com/embed/stjniziaxy4" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div><!--//embed-responsive -->
					</div><!--//col-->
					<div class="col-12 col-md-6 mb-md-5">
						<div class="ratio ratio-16x9">
							<iframe src="https://www.youtube.com/embed/NPYqnGNO_zw" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div><!--//embed-responsive -->
					</div><!--//col-->
				</div><!--//row-->
			</div><!--//container-->
		</div><!--//media-block-->
	{% endif %}
	
	</section><!--//about-section-->
	
{% endif %}
