{% assign contact = site.footer.contact %}
{% assign links = site.footer.links %}
	<footer class="footer py-5 theme-bg-primary">
		<div class="container text-center">
			
			<ul class="social-list list-inline mb-4"> 
				<li class="list-inline-item me-3"><a href="mailto:{{ contact.email }}"><i class="fas fa-envelope"></i></a></li>
				<li class="list-inline-item me-3"><a href="{{ "https://twitter.com/" | append: contact.twitter }}"><i class="fab fa-twitter fa-fw"></i></a></li>
				<li class="list-inline-item me-3"><a href="{{ "https://instagram.com/" | append: contact.twitter }}"><i class="fab fa-instagram fa-fw"></i></a></li>
				<li class="list-inline-item me-0"><a href="{{ "https://youtube.com/" | append: contact.twitter }}"><i class="fab fa-youtube fa-fw"></i></a></li>
			</ul><!--//social-list-->
			
			
			<ul class="footer-links list-inline mx-auto mb-4">				
{% assign classLastItem = "" %}
{% for item in links %}
				<li class="list-inline-item {{ classLastItem }}"><a href="{{ item.link }}">{{ item.text }}</a></li>
	{% if forloop.last %}
		{% assign classLastItem = " me-0" %}
	{% else %}
				<li class="list-inline-item">|</li>
	{% endif %}
{% endfor %}
			</ul><!--//footer-link-->
			
			 <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
			<small class="copyright">Designed with <i class="fas fa-heart" style="color: #EC645E;"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>

			<p><small class="copyright">Adapted for the cause by <a href="https://rebelion.la" target="_blank">Rebelion Labs</a> <i class="fas fa-hand-holding-heart" style="color: #EC645E;"></i> </small></p>
		</div><!--//container-->	    
	</footer>